body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.add-btn:hover {
    background-color: #218838;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#expenseFormContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%; /* Allinea la larghezza del form alla tabella */
    max-width: 800px;
    margin: 0 auto; /* Centra il form */
}

#expenseFormContainer h2 {
    margin-bottom: 20px;
}

#expenseForm input, #expenseForm select {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#expenseForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

#expenseForm button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#expenseForm button:hover {
    background-color: #218838;
}

#expenseTableContainer {
    width: 80%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #28a745;
    color: white;
}

.balance-text {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}
